# Rust build artifacts
/target/

# Downloaded data
/genomes/
*.zip
/test_data/
# Generated data files
*.csv
*.tsv
*.vbq
*.fasta
*.fna
*.fa
*.fastq
*.fq
*.fastqc.zip
*.fastqc.html
*.fastqc.zip
*.gz
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lz
*.tar.lzma
*.json
*.svg
*out
*err
*.data 
*.data.old
# Environment variables
.env
*.dot 
*.gfa 
*.graphml 
*.bincode

# IDE/Editor specific files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
